In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "http://lhr.nu.edu.pk/faculty/"
page = requests.get(url)

print(page)

<Response [200]>

In [2]:
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
# FSC scraper

In [4]:
tempFSC = soup.find('div', class_='container', id = 'fsc')
fscDivsList = tempFSC.find_all('div', class_='col-lg-3 col-md-4 col-sm-6 col-12')

In [5]:
fscFrame = pd.DataFrame(columns = ['ID', 'Name', 'Designation', 'HEC Approved Supervisor', 'Email', 'Department', 'Img URL'])
# print(fscFrame)

fscFrame

Empty DataFrame
Columns: [ID, Name, Designation, HEC Approved Supervisor, Email, Department, Img URL]
Index: []

In [6]:
for divs in fscDivsList:
    temp = divs.find('a')
    tempID = temp.get('href')

    tempLastFour = tempID[-4:]

    designation = divs.find('p', class_='small text-center font-italic').get_text()
    splitDesig = designation.split('\n', 1)[0]

    hecApproval = "HECApprovedPhDSupervisor"
    tempHecApproved = str(divs.find('p', class_="small text-center font-italic"))
    hecApproved = ''

    for c in tempHecApproved:
        if c != ' ' and c != '\n':
            hecApproved += c

    supervisorFlag = False
    if hecApproval in hecApproved:
        supervisorFlag = True

    tempNames = divs.find('h5').get_text()
    tempEmail = divs.find('p', class_='mb-0 text-center').get_text()
    tempImageURL = divs.find('img').get('src')

    tempDictionaryFSC = {
        'ID': int(tempLastFour),
        'Name': tempNames,
        'Designation': splitDesig,
        'HEC Approved Supervisor': supervisorFlag,
        'Email': tempEmail,
        'Department': "FSC",
        'Img URL': tempImageURL
    }

    tempFSCFrame = pd.DataFrame([tempDictionaryFSC])
    fscFrame = pd.concat([fscFrame, tempFSCFrame], ignore_index=True)

In [7]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
fscFrame.head()

,ID,Name,Designation,HEC Approved Supervisor,Email,Department,Img URL
0,1238,Dr. Kashif Zafar,Professor & HOD,True,kashif.zafar@nu.edu.pk,FSC,/media/Faculty/01._Dr_Kashif_Zafar_Prof._CS.JPG
1,4027,Dr. Aamir Wali,Professor,True,aamir.wali@nu.edu.pk,FSC,/media/Faculty/51._Dr_Aamir_Wali_Prof._AIDS.JPG
2,4391,Dr. Asif Mahmood Gillani,Professor,True,asif.gilani@nu.edu.pk,FSC,/media/Faculty/02._Dr_Asif_Mehmood_Gilani_Prof...
3,6113,Dr. Asma Naseer,Professor,True,asma.naseer@nu.edu.pk,FSC,/media/Faculty/07._Dr_Asma_Naseer_Assoc._Prof....
4,4329,Dr. Zareen Alamgir,Professor,True,zareen.alamgir@nu.edu.pk,FSC,/media/Faculty/03._Dr_Zareen_Alamgir_Prof._CS.JPG

In [8]:
# Civil Scraper

In [9]:
cvDivsList = soup.find('div', class_ = 'container', id = 'cv').find_all('div', class_ = 'col-lg-3 col-md-4 col-sm-6 col-12')
cvFrame = pd.DataFrame(columns = ['ID', 'Name', 'Designation', 'HEC Approved Supervisor', 'Email', 'Department', 'Img URL'])
# print(cvFrame)

cvFrame

Empty DataFrame
Columns: [ID, Name, Designation, HEC Approved Supervisor, Email, Department, Img URL]
Index: []

In [10]:
for divs in cvDivsList:
    temp = divs.find('a')
    tempID = temp.get('href')

    tempLastFour = tempID[-4:]

    designation = divs.find('p', class_ = 'small text-center font-italic').get_text()
    splitDesig = designation.split('\n', 1)[0]

    hecApproval = "HECApprovedPhDSupervisor"
    tempHecApproved = str(divs.find('p', class_="small text-center font-italic"))
    hecApproved = ''

    for c in tempHecApproved:
        if c != ' ' and c != '\n':
            hecApproved = hecApproved + c

    supervisorFlag = False
    if hecApproval in hecApproved:
        supervisorFlag = True

    tempNames = divs.find('h5').get_text()
    tempEmail = divs.find('p', class_='mb-0 text-center').get_text()
    tempImageURL = divs.find('img').get('src')

    tempDictionaryCV = {
        'ID': int(tempLastFour),
        'Name': tempNames,
        'Designation': splitDesig,
        'HEC Approved Supervisor': supervisorFlag,
        'Email': tempEmail,
        'Department': "CV",
        'Img URL': tempImageURL
    }

    tempCVFrame = pd.DataFrame([tempDictionaryCV])
    cvFrame = pd.concat([cvFrame, tempCVFrame], ignore_index=True)

In [11]:
cvFrame.head()

,ID,Name,Designation,HEC Approved Supervisor,Email,Department,Img URL
0,5818,Dr. Tauqir Ahmed,Associate Professor & HOD,True,tauqir.ahmed@nu.edu.pk,CV,/media/Faculty/77._Dr_Tauqir_Ahmed_Prof._CvL.jpg
1,9451,Dr. Shahid Ali,Professor,True,shahid.ali@nu.edu.pk,CV,/media/Faculty/78._Dr_Shahid_Ali_Prof._CvL.JPG
2,5705,Dr. Syed Ali Rizwan Bukhari,Professor,True,syed.ali@nu.edu.pk,CV,/media/Faculty/79._Dr_Syed_Ali_Rizwan_Prof._Cv...
3,6941,Dr. Muhammad Azam,Assistant Professor,False,muhammad.azam@nu.edu.pk,CV,/media/Faculty/Dr._Muhammad_Azam-removebg-prev...
4,6047,Dr. Muhammad Umar,Assistant Professor,True,m.umar@nu.edu.pk,CV,/media/Faculty/80._Dr_Muhammad_Umar_Asst._Prof...

In [12]:
# Electrical Scraper

In [13]:
eeDivsList = soup.find('div', class_ = 'container', id = 'ee').find_all('div', class_ = 'col-lg-3 col-md-4 col-sm-6 col-12')
eeFrame = pd.DataFrame(columns = ['ID', 'Name', 'Designation', 'HEC Approved Supervisor', 'Email', 'Department', 'Img URL'])
# print(eeFrame)

eeFrame

Empty DataFrame
Columns: [ID, Name, Designation, HEC Approved Supervisor, Email, Department, Img URL]
Index: []

In [14]:
for divs in eeDivsList:
    temp = divs.find('a')
    tempID = temp.get('href')

    tempLastFour = tempID[-4:]

    designation = divs.find('p', class_ = 'small text-center font-italic').get_text()
    splitDesig = designation.split('\n', 1)[0]

    hecApproval = "HECApprovedPhDSupervisor"
    tempHecApproved = str(divs.find('p', class_="small text-center font-italic"))
    hecApproved = ''

    for c in tempHecApproved:
        if c != ' ' and c != '\n':
            hecApproved = hecApproved + c

    supervisorFlag = False
    if hecApproval in hecApproved:
        supervisorFlag = True

    tempNames = divs.find('h5').get_text()
    tempEmail = divs.find('p', class_='mb-0 text-center').get_text()
    tempImageURL = divs.find('img').get('src')

    tempDictionaryEE = {
        'ID': int(tempLastFour),
        'Name': tempNames,
        'Designation': splitDesig,
        'HEC Approved Supervisor': supervisorFlag,
        'Email': tempEmail,
        'Department': "EE",
        'Img URL': tempImageURL
    }

    tempEEFrame = pd.DataFrame([tempDictionaryEE])
    eeFrame = pd.concat([eeFrame, tempEEFrame], ignore_index=True)

In [82]:
eeFrame.head()

,ID,Name,Designation,HEC Approved Supervisor,Email,Department,Img URL
0,4198,Dr. Saima Zafar,Professor & HOD,True,saima.zafar@nu.edu.pk,EE,/media/Faculty/98._Dr_Saima_Zafar_Prof._EE.JPG
1,4108,Dr. S.M. Sajid,Professor,True,sm.sajid@nu.edu.pk,EE,/media/Faculty/99._Dr_S_M_Sajid_Prof._EE.JPG
2,5421,Dr. Syed Aun Abbas,Professor,False,aun.abbas@nu.edu.pk,EE,/media/Faculty/100._Dr_Syed_Aun_Abbas_Prof._EE...
3,4609,Dr. Omer Saleem,Associate Professor,True,omer.saleem@nu.edu.pk,EE,/media/Faculty/101._Dr_Omer_Saleem_Associate_P...
4,6942,Dr. Huzaifa Rauf,Assistant Professor,False,huzaifa.rauf@nu.edu.pk,EE,/media/Faculty/Dr._Huzaifa_Rauf-removebg-previ...

In [16]:
## Fast school of management scraper

In [17]:
fsmDivsList = soup.find('div', class_ = 'container', id = 'fsm').find_all('div', class_ = 'col-lg-3 col-md-4 col-sm-6 col-12')
fsmFrame = pd.DataFrame(columns = ['ID', 'Name', 'Designation', 'HEC Approved Supervisor', 'Email', 'Department', 'Img URL'])
# print(fsmFrame)

fsmFrame

Empty DataFrame
Columns: [ID, Name, Designation, HEC Approved Supervisor, Email, Department, Img URL]
Index: []

In [18]:
for divs in fsmDivsList:
    temp = divs.find('a')
    tempID = temp.get('href')

    tempLastFour = tempID[-4:]

    designation = divs.find('p', class_ = 'small text-center font-italic').get_text()
    splitDesig = designation.split('\n', 1)[0]

    hecApproval = "HECApprovedPhDSupervisor"
    tempHecApproved = str(divs.find('p', class_="small text-center font-italic"))
    hecApproved = ''

    for c in tempHecApproved:
        if c != ' ' and c != '\n':
            hecApproved = hecApproved + c

    supervisorFlag = False
    if hecApproval in hecApproved:
        supervisorFlag = True

    tempNames = divs.find('h5').get_text()
    tempEmail = divs.find('p', class_='mb-0 text-center').get_text()
    tempImageURL = divs.find('img').get('src')

    tempDictionaryFSM = {
        'ID': int(tempLastFour),
        'Name': tempNames,
        'Designation': splitDesig,
        'HEC Approved Supervisor': supervisorFlag,
        'Email': tempEmail,
        'Department': "FSM",
        'Img URL': tempImageURL
    }

    tempFSMFrame = pd.DataFrame([tempDictionaryFSM])
    fsmFrame = pd.concat([fsmFrame, tempFSMFrame], ignore_index=True)

In [19]:
fsmFrame.head()

,ID,Name,Designation,HEC Approved Supervisor,Email,Department,Img URL
0,3924,Dr. Hamid Hassan,Professor & HOD,True,hamid.hassan@nu.edu.pk,FSM,/media/Faculty/121._Dr_Hamid_Hassan_Prof_MG.JPG
1,4685,Dr. Akbar Azam,Associate Professor,True,akbar.azam@nu.edu.pk,FSM,/media/Faculty/122.Dr_Akbar_Azam_Assoc._Prof._...
2,6563,Dr. Amna Farrukh,Assistant Professor,False,amna.farrukh@nu.edu.pk,FSM,/media/Faculty/126._Amna_Farrukh_Assit_Prof._M...
3,5712,Dr. Brig Mujahid Hussain,Assistant Professor,True,mujahid.hussain@nu.edu.pk,FSM,/media/Faculty/128._Dr_Mujahid_Hussain_Asst._P...
4,4629,Dr. Fatima Omer,Assistant Professor,False,fatima.omer@nu.edu.pk,FSM,/media/Faculty/125._Dr_Fatima_Omer_Asst._Prof....

In [20]:
# Science and humanity dept scraper

In [21]:
ssDivsList = soup.find('div', class_ = 'container', id = 'ss').find_all('div', class_ = 'col-lg-3 col-md-4 col-sm-6 col-12')
ssFrame = pd.DataFrame(columns = ['ID', 'Name', 'Designation', 'HEC Approved Supervisor', 'Email', 'Department', 'Img URL'])
# print(ssFrame)

ssFrame

Empty DataFrame
Columns: [ID, Name, Designation, HEC Approved Supervisor, Email, Department, Img URL]
Index: []

In [22]:
for divs in ssDivsList:
    temp = divs.find('a')
    tempID = temp.get('href')

    tempLastFour = tempID[-4:]

    designation = divs.find('p', class_ = 'small text-center font-italic').get_text()
    splitDesig = designation.split('\n', 1)[0]

    hecApproval = "HECApprovedPhDSupervisor"
    tempHecApproved = str(divs.find('p', class_="small text-center font-italic"))
    hecApproved = ''

    for c in tempHecApproved:
        if c != ' ' and c != '\n':
            hecApproved = hecApproved + c

    supervisorFlag = False
    if hecApproval in hecApproved:
        supervisorFlag = True

    tempNames = divs.find('h5').get_text()
    tempEmail = divs.find('p', class_='mb-0 text-center').get_text()
    tempImageURL = divs.find('img').get('src')

    tempDictionarySS = {
        'ID': int(tempLastFour),
        'Name': tempNames,
        'Designation': splitDesig,
        'HEC Approved Supervisor': supervisorFlag,
        'Email': tempEmail,
        'Department': "SS",
        'Img URL': tempImageURL
    }

    tempSSFrame = pd.DataFrame([tempDictionarySS])
    ssFrame = pd.concat([ssFrame, tempSSFrame], ignore_index=True)

In [23]:
ssFrame.head()

,ID,Name,Designation,HEC Approved Supervisor,Email,Department,Img URL
0,4332,Dr. Mubashir Qayyum,Professor & HOD,True,mubashir.qayyum@nu.edu.pk,SS,/media/Faculty/149._Dr_Mubashir_Qayyum_Prof._S...
1,4020,Dr. Akhlaq Ahmad Bhatti,Professor,True,akhlaq.ahmad@nu.edu.pk,SS,/media/Faculty/150._Dr._Akhlaq_Ahmad_Bhatti_Pr...
2,3712,Dr. Mazhar Hussain,Professor,True,mazhar.hussain@nu.edu.pk,SS,/media/Faculty/151._Dr_Mazhar_Hussain_Prof._SH...
3,4250,Dr. Saman Shahid,Professor,True,saman.shahid@nu.edu.pk,SS,/media/Faculty/152._Dr._Saman_Shahid_Prof._SH.jpg
4,4018,Dr. Summaira Sarfraz,Professor,True,sumaira.sarfraz@nu.edu.pk,SS,/media/Faculty/148._Dr_Summaira_Sarfraz_Prof._...

In [24]:
fscFrame.to_csv('fsc.csv')
cvFrame.to_csv('cv.csv')
eeFrame.to_csv('ee.csv')
fsmFrame.to_csv('fsm.csv')
ssFrame.to_csv('ss.csv')

In [25]:
# Step 2 begins now kittens

In [26]:
#starting with fsc

In [27]:
tempFile = "/Users/random/Desktop/venv/fsc.csv"
fsc = pd.read_csv(tempFile)
# fsc

In [28]:
fscIDs = fsc['ID'].tolist()
tempFSCFrame = pd.DataFrame(columns = ['ID', 'Extension', 'Highest Education'])
tempFSCFrame

Empty DataFrame
Columns: [ID, Extension, Highest Education]
Index: []

In [29]:
for ids in fscIDs:
    tempURL = "http://lhr.nu.edu.pk/fsc/facultyProfile/" + str(ids)
    tempResponse = requests.get(tempURL)
    tempSoup = BeautifulSoup(tempResponse.content, 'html.parser')

    facultyDIV = tempSoup.find('div', class_ = 'container')
    temporary = facultyDIV.find('h5', class_ = 'text-center').get_text()
    # print(temporary)

    splitQualification = ""
    qualification = ""

    if facultyDIV.find('li'):
        qualification = str(facultyDIV.find('li').get_text())
        qualification.strip()
        
        splitQualification = qualification.split('(', 1)[0]
        splitQualification = splitQualification.strip()

        # print(splitQualification)

    extension = 0
    tempExtension = ""
    splitExtension = ""
    
    if facultyDIV.find('span', class_ = 'small'):
        tempExtension = str(facultyDIV.find('span', class_ = 'small').get_text())
        tempExtension.strip()

        splitExtension = tempExtension[-3:]

        if splitExtension == "one":
            extension = 0
        else:
            extension = int(splitExtension)

        # print(extension)

    tempFSCDict2 = {
        'ID' : ids,
        'Extension' : extension,
        'Highest Education' : splitQualification
    }

    tempFSCFrame2 = pd.DataFrame([tempFSCDict2])
    tempFSCFrame = pd.concat([tempFSCFrame, tempFSCFrame2], ignore_index = True)

In [30]:
tempFSCFrame.head()

     ID Extension Highest Education
0  1238       569               PhD
1  4027       572               PhD
2  4391       558              Ph.D
3  6113       634               PhD
4  4329       612              Ph.D

In [31]:
# Step 2 for EE

In [85]:
tempFile = "/Users/random/Desktop/venv/ee.csv"
ee = pd.read_csv(tempFile)
# ee

In [86]:
eeIDs = ee['ID'].tolist()
tempEEFrame = pd.DataFrame(columns = ['ID', 'Extension', 'Highest Education'])
tempEEFrame

Empty DataFrame
Columns: [ID, Extension, Highest Education]
Index: []

In [87]:
for ids in eeIDs:
    tempURL = "http://lhr.nu.edu.pk/ee/facultyProfile/" + str(ids)
    tempResponse = requests.get(tempURL)
    # print(tempResponse)
    tempSoup = BeautifulSoup(tempResponse.content, 'html.parser')

    facultyDIV = tempSoup.find('div', class_ = 'container')
    temporary = facultyDIV.find('h5', class_ = 'text-center').get_text()
    # print(temporary)

    splitQualification = ""
    qualification = ""

    if facultyDIV.find('li'):
        qualification = str(facultyDIV.find('li').get_text())
        qualification.strip()
        
        splitQualification = qualification.split('(', 1)[0]
        splitQualification = splitQualification.strip()

        # print(splitQualification)

    extension = 0
    tempExtension = ""
    splitExtension = ""
    
    if facultyDIV.find('span', class_ = 'small'):
        tempExtension = str(facultyDIV.find('span', class_ = 'small').get_text())
        tempExtension.strip()

        splitExtension = tempExtension[-3:]

        if splitExtension == "one":
            extension = 0
        else:
            extension = int(splitExtension)

        # print(extension)

    tempEEDict2 = {
        'ID' : ids,
        'Extension' : extension,
        'Highest Education' : splitQualification
    }

    tempEEFrame2 = pd.DataFrame([tempEEDict2])
    tempEEFrame = pd.concat([tempEEFrame, tempEEFrame2], ignore_index = True)

In [88]:
tempEEFrame.head()

     ID Extension Highest Education
0  4198       265               PhD
1  4108       315               PhD
2  5421       254               PhD
3  4609       364               PhD
4  6942       235               PhD

In [43]:
# STep 2 for Civil

In [89]:
tempFile = "/Users/random/Desktop/venv/cv.csv"
cv = pd.read_csv(tempFile)
# cv

In [90]:
cvIDs = cv['ID'].tolist()
tempCVFrame = pd.DataFrame(columns = ['ID', 'Extension', 'Highest Education'])
tempCVFrame

Empty DataFrame
Columns: [ID, Extension, Highest Education]
Index: []

In [91]:
for ids in cvIDs:
    tempURL = "http://lhr.nu.edu.pk/cv/facultyProfile/" + str(ids)
    tempResponse = requests.get(tempURL)
    # print(tempResponse)
    tempSoup = BeautifulSoup(tempResponse.content, 'html.parser')

    facultyDIV = tempSoup.find('div', class_ = 'container')
    temporary = facultyDIV.find('h5', class_ = 'text-center').get_text()
    # print(temporary)

    splitQualification = ""
    qualification = ""

    if facultyDIV.find('li'):
        qualification = str(facultyDIV.find('li').get_text())
        qualification.strip()
        
        splitQualification = qualification.split('(', 1)[0]
        splitQualification = splitQualification.strip()

        # print(splitQualification)

    extension = 0
    tempExtension = ""
    splitExtension = ""
    
    if facultyDIV.find('span', class_ = 'small'):
        tempExtension = str(facultyDIV.find('span', class_ = 'small').get_text())
        tempExtension.strip()

        splitExtension = tempExtension[-3:]

        if splitExtension == "one":
            extension = 0
        else:
            extension = int(splitExtension)

        # print(extension)

    tempCVDict2 = {
        'ID' : ids,
        'Extension' : extension,
        'Highest Education' : splitQualification
    }

    tempCVFrame2 = pd.DataFrame([tempCVDict2])
    tempCVFrame = pd.concat([tempCVFrame, tempCVFrame2], ignore_index = True)

In [92]:
tempCVFrame.head()

     ID Extension Highest Education
0  5818       417               PhD
1  9451       339               PhD
2  5705       228    Post-Doctorate
3  6941       414               PhD
4  6047       450               PhD

In [50]:
# Step 2 for FSM:

In [52]:
tempFile = "/Users/random/Desktop/venv/fsm.csv"
fsm = pd.read_csv(tempFile)
# fsm

In [53]:
fsmIDs = fsm['ID'].tolist()
tempFSMFrame = pd.DataFrame(columns = ['ID', 'Extension', 'Highest Education'])
tempFSMFrame

Empty DataFrame
Columns: [ID, Extension, Highest Education]
Index: []

In [55]:
for ids in fsmIDs:
    tempURL = "http://lhr.nu.edu.pk/fsm/facultyProfile/" + str(ids)
    tempResponse = requests.get(tempURL)
    # print(tempResponse)
    tempSoup = BeautifulSoup(tempResponse.content, 'html.parser')

    facultyDIV = tempSoup.find('div', class_ = 'container')
    temporary = facultyDIV.find('h5', class_ = 'text-center').get_text()
    # print(temporary)

    splitQualification = ""
    qualification = ""

    if facultyDIV.find('li'):
        qualification = str(facultyDIV.find('li').get_text())
        qualification.strip()
        
        splitQualification = qualification.split('(', 1)[0]
        splitQualification = splitQualification.strip()

        # print(splitQualification)

    extension = 0
    tempExtension = ""
    splitExtension = ""
    
    if facultyDIV.find('span', class_ = 'small'):
        tempExtension = str(facultyDIV.find('span', class_ = 'small').get_text())
        tempExtension.strip()

        splitExtension = tempExtension[-3:]

        if splitExtension == "one":
            extension = 0
        else:
            extension = int(splitExtension)

        # print(extension)

    tempFSMDict2 = {
        'ID' : ids,
        'Extension' : extension,
        'Highest Education' : splitQualification
    }

    tempFSMFrame2 = pd.DataFrame([tempFSMDict2])
    tempFSMFrame = pd.concat([tempFSMFrame, tempFSMFrame2], ignore_index = True)

In [56]:
tempFSMFrame.head()

     ID Extension Highest Education
0  3924       252               PhD
1  4685       343               PhD
2  6563       405               PhD
3  5712       255               PhD
4  4629       295               PhD

In [ ]:
# Step 2 for ss

In [58]:
tempFile = "/Users/random/Desktop/venv/ss.csv"
ss = pd.read_csv(tempFile)
# ss

In [59]:
ssIDs = ss['ID'].tolist()
tempSSFrame = pd.DataFrame(columns = ['ID', 'Extension', 'Highest Education'])
tempSSFrame

Empty DataFrame
Columns: [ID, Extension, Highest Education]
Index: []

In [60]:
for ids in ssIDs:
    tempURL = "http://lhr.nu.edu.pk/ss/facultyProfile/" + str(ids)
    tempResponse = requests.get(tempURL)
    # print(tempResponse)
    tempSoup = BeautifulSoup(tempResponse.content, 'html.parser')

    facultyDIV = tempSoup.find('div', class_ = 'container')
    temporary = facultyDIV.find('h5', class_ = 'text-center').get_text()
    # print(temporary)

    splitQualification = ""
    qualification = ""

    if facultyDIV.find('li'):
        qualification = str(facultyDIV.find('li').get_text())
        qualification.strip()
        
        splitQualification = qualification.split('(', 1)[0]
        splitQualification = splitQualification.strip()

        # print(splitQualification)

    extension = 0
    tempExtension = ""
    splitExtension = ""
    
    if facultyDIV.find('span', class_ = 'small'):
        tempExtension = str(facultyDIV.find('span', class_ = 'small').get_text())
        tempExtension.strip()

        splitExtension = tempExtension[-3:]

        if splitExtension == "one":
            extension = 0
        else:
            extension = int(splitExtension)

        # print(extension)

    tempSSDict2 = {
        'ID' : ids,
        'Extension' : extension,
        'Highest Education' : splitQualification
    }

    tempSSFrame2 = pd.DataFrame([tempSSDict2])
    tempSSFrame = pd.concat([tempSSFrame, tempSSFrame2], ignore_index = True)

In [61]:
tempSSFrame.head()

     ID Extension Highest Education
0  4332       283               PhD
1  4020       284               PhD
2  3712       313               PhD
3  4250       206               PhD
4  4018       227               PhD

In [93]:
tempFSCFrame.to_csv('fsc_2.csv')
tempEEFrame.to_csv('ee_2.csv')
tempCVFrame.to_csv('cv_2.csv')
tempFSMFrame.to_csv('fsm_2.csv')
tempSSFrame.to_csv('ss_2.csv')

In [63]:
# Starting step 3

In [94]:
tempFile = "/Users/random/Desktop/venv/fsc.csv"
fsc_1_Frame = pd.read_csv(tempFile)
fsc_1_Frame = fsc_1_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/fsc_2.csv"
fsc_2_Frame = pd.read_csv(tempFile)
fsc_2_Frame = fsc_2_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/ee.csv"
ee_1_Frame = pd.read_csv(tempFile)
ee_1_Frame = ee_1_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/ee_2.csv"
ee_2_Frame = pd.read_csv(tempFile)
ee_2_Frame = ee_2_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/cv.csv"
cv_1_Frame = pd.read_csv(tempFile)
cv_1_Frame = cv_1_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/cv_2.csv"
cv_2_Frame = pd.read_csv(tempFile)
cv_2_Frame = cv_2_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/fsm.csv"
fsm_1_Frame = pd.read_csv(tempFile)
fsm_1_Frame = fsm_1_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/fsm_2.csv"
fsm_2_Frame = pd.read_csv(tempFile)
fsm_2_Frame = fsm_2_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/ss.csv"
ss_1_Frame = pd.read_csv(tempFile)
ss_1_Frame = ss_1_Frame.drop(columns = ['Unnamed: 0'])

tempFile = "/Users/random/Desktop/venv/ss_2.csv"
ss_2_Frame = pd.read_csv(tempFile)
ss_2_Frame = ss_2_Frame.drop(columns = ['Unnamed: 0'])

In [95]:
fscFinalFrame = pd.merge(fsc_1_Frame, fsc_2_Frame, on = 'ID', how = 'left')
eeFinalFrame = pd.merge(ee_1_Frame, ee_2_Frame, on = 'ID', how = 'left')
cvFinalFrame = pd.merge(cv_1_Frame, cv_2_Frame, on = 'ID', how = 'left')
fsmFinalFrame = pd.merge(fsm_1_Frame, fsm_2_Frame, on = 'ID', how = 'left')
ssFinalFrame = pd.merge(ss_1_Frame, ss_2_Frame, on = 'ID', how = 'left')

In [96]:
# fscFinalFrame
# eeFinalFrame
# cvFinalFrame
# fsmFinalFrame
# ssFinalFrame

In [97]:
nucesLHRFacultyFrame = pd.concat([fscFinalFrame, eeFinalFrame, cvFinalFrame, fsmFinalFrame, ssFinalFrame], ignore_index = True)
nucesLHRFacultyFrame.head()

,ID,Name,Designation,HEC Approved Supervisor,Email,Department,Img URL,Extension,Highest Education
0,1238,Dr. Kashif Zafar,Professor & HOD,True,kashif.zafar@nu.edu.pk,FSC,/media/Faculty/01._Dr_Kashif_Zafar_Prof._CS.JPG,569,PhD
1,4027,Dr. Aamir Wali,Professor,True,aamir.wali@nu.edu.pk,FSC,/media/Faculty/51._Dr_Aamir_Wali_Prof._AIDS.JPG,572,PhD
2,4391,Dr. Asif Mahmood Gillani,Professor,True,asif.gilani@nu.edu.pk,FSC,/media/Faculty/02._Dr_Asif_Mehmood_Gilani_Prof...,558,Ph.D
3,6113,Dr. Asma Naseer,Professor,True,asma.naseer@nu.edu.pk,FSC,/media/Faculty/07._Dr_Asma_Naseer_Assoc._Prof....,634,PhD
4,4329,Dr. Zareen Alamgir,Professor,True,zareen.alamgir@nu.edu.pk,FSC,/media/Faculty/03._Dr_Zareen_Alamgir_Prof._CS.JPG,612,Ph.D

In [98]:
nucesLHRFacultyFrame.to_csv('fast_lhr_faculty.csv')

In [ ]:
#####